# Python
venv
__pycache__

# Front end
# Reference for React projects https://github.com/facebook/react/blob/main/.gitignore
amplify
node_modules
aws-exports.js
build/
.next

# Text editors
.vscode
*.swp
*.swo
